   .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 150px;
  }
  
  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .image-item {
    flex: 1 0 21%; 
    box-sizing: border-box;
    text-align: start;
    margin: 5px;
    cursor: pointer;
  }
  
  .image-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .image-item img :hover {
    opacity: 0.7;
  }
  .author :hover {
    opacity: 0.7;
  }
  .image-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }
  
  .like-section, .view-section {
    display: flex;
    /* align-items: center;
    justify-content: end; */
  }
  
  .like-section span, .view-section span {
    margin-left: 5px;
  }
  .like-section{
    padding-left: 170px;
  }
  /* .like-icon, .view-icon { */
    /* cursor: pointer; */
  /* } */
  .modal {
    display: block; 
    position: fixed; 
    padding-top: 100px;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from { -webkit-transform: scale(0); }
    to { -webkit-transform: scale(1); }
  }
  
  @keyframes zoom {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }